.padding-top-30{
  padding: 20px 0px;
}

.main-container{
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 25px;
}

.dashboard-card {
  border-radius: 4px;
}

.rating-db {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 40px;
  padding: 28px;

  p {
    font-size: 20px;
    font-weight: 900;
  }
}
