// Specific CSS for your home-page
.review-card img {
  // width: 135px;
  // height: 135px;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 10px;
  width: auto;
   max-width: 150px;
   height: auto;
   max-height: 150px;
}

.container3 {
  display: flex;
  justify-content: space-around;
  // margin-top: 60px;
  margin: 5vh 5vw;

}



.container3 img {
  width: 500px;
  height: 500px;
  border-radius: 15px;
}

.box-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 65%;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  margin-left: 15px;

 }

.box-text {
  margin: 0 15px;
}

.box-text h4 {
  font-size: 30px;
  color: #E3BC05;
}

.box-text img {
  width: 150px;
  height: 150px;
}


