// Specific CSS for your home-page
.review-card img {
  // width: 135px;
  // height: 135px;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 10px;
  width: auto;
   max-width: 150px;
   height: auto;
   max-height: 150px;
}
