<div class="banner2">
  <h1>Help & Support</h1>
</div>


<h1 class="text-center mt-5">Customer Service 24h/24h</h1>

<div class="container3 image-tester-phone">
  <div class="box-icon-phone">
    <div class="box-text-phone">
      <%= image_tag "call.png"%>
      <h4>+33 06 39 95 92</h4>
      <p>Please call our customer service in case of any problems. <br>
      We will do our best to assist you 😇</p>
    </div>
  </div>
</div>
