
<div class="container mt-5">
  <%= simple_form_for([@startup, @version]) do |f|%>
    <div class="form-group">
      <%= f.input :name %>
      <%= f.input :quantity, imput_html: { id: "num1" } %>
      <p id="values"></p>

      <%= f.button :submit, "Update version", {class: "btn btn-primary"} %>
    </div>
  <% end %>
</div>
