
<div class="container mt-5">

  <div class="row">
    <div class="col-6 offset-3">
  <%= simple_form_for([@startup, @version]) do |f|%>
    <div class="form-group">
      <%= f.input :name, label:"Name your version" %>
      <%= f.input :quantity, imput_html: { id: "testers_quantity" }, label: "Quantity of testers you want ($20 per)" %>
      <p id="values" class="text-center"></p>
      <div class="container d-flex justify-content-center">
      <%= f.button :submit, "Update version", {class: "btn btn-primary"} %>
    </div>
    </div>
  <% end %>
</div>
</div>
</div>

