<a class="nav-item nav-link active" id="nav-version_<%= index %>-tab" data-toggle="tab" href="#accordion<%= index %>" role="tab" aria-controls="accordion<%= index %>" aria-selected="true">Version</a>
