

  <div class="tab-pane fade show active" id="accordion<%= index %>" role="tabpanel" aria-labelledby="nav-version_<%= index %>-tab">
    <div class="accordion" id="accordion<%= index %>">
      <% 3.times do %>
    <%#= @version.questions.each do |question| niet vergeten toe te voegen question: question%>
        <%= render "versions/question_accordion" %>
      <% end %>
    </div>
  </div>
