<h1 class="text-center mt-5">Version Test</h1>

<div class="version_container">
  <div class="text-left box-q-a">
     <% 8.times do %>
     <h1>Question</h1>
     <p>Answer</p>
     <% end %>
  </div>
  <iframe src="https://vaycar.herokuapp.com" width="500" height="850" frameborder="0" marginwidth="0" marginheight="0"></iframe>
</div>
