<h1>Version#show</h1>
<p>Find me in app/views/feedback/show.html.erb</p>




<iframe src="https://www.pixelstech.net/article/1532747442-How-to-check-whether-a-web-page-can-be-loaded-in-iframe" width="500" height="850" frameborder="0" marginwidth="0" marginheight="0"></iframe>
