<div class="container">
  <h1>Dashboards#tester</h1>

  <div class="user-profile">
  <img src="" alt="">
  <div class="user-info">
    <p>some text here</p>
    <p>some text here</p>
  </div>
  <div class="user-contact">
    <p>user contact info here</p>
    <p>user contact info here</p>
  </div>
  </div>


</div>
