.navbar-lewagon {
  justify-content: space-between;
  z-index: 1;
  background: transparent;
  padding: 0 1rem;
  margin-top: 15px;
}

.navbar-lewagon .navbar-collapse {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
}

.navbar-lewagon .navbar-brand img, a {
  z-index: 3;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.toplinks {
color:white ;
transition: all 0.2s ease;
  &:hover {
  color: rgba(0, 0, 0, 0.9);
  color: white;
  border-bottom: 0.51mm solid;
  transition: all 0.2s ease;
  }
}

.navbar img {
  width: 40px;
  height: 40px;
}
