.user-stats-container{
 margin: 0px 10px;
}

.user-stats-1{
  height: 300px;
  margin-bottom: 30px;

}

.user-stats-2{
  height: 300px;
  position: relative;
  // margin-bottom: 40px;
}

.stats-card-1{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  border-radius: 0px 10px 0px 0px;
  margin: 0;
  img{
    padding: 0px 20px;
  }
}

.stats-card-3{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  grid-column: 2 / span 2;

  img{
    width: 100%;
  }
}



.box-icons4 {
    justify-content: space-between;
    align-items: center;
    text-align: center;



  h2 {
    font-size: 120px;
    font-weight: 900;
    color: #E3BC05;
    text-shadow: 5px 5px #555555;
    padding: 18px;
  }
  p {
    font-size: 20px;
    font-weight: 500;
    color: #212529c2;
    text-shadow: 1px 1px #55555945;
    margin-bottom: -1rem;
  }
}


.box-icons5 {
    justify-content: space-between;
    align-items: center;
    text-align: center;
  h2 {
    font-size: 50px;
    font-weight: 900;
    color: #E3BC05;
    text-shadow: 5px 5px #555555;
    padding: 18px;
  }
  p {
    font-size: 20px;
    font-weight: 500;
    color: #212529c2;
    text-shadow: 1px 1px #55555945;
    margin-bottom: -1rem;
  }
}


#card-1{
  margin-right: 15px;
}

.stats-card-2{
  width: 100%;
  padding: 20px;
  margin: auto;
  // height: 100%;
  // background-color: blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  img{
    width: 100%;
  }
}

.clock-icon {
 width: 300px !important;
 margin: 0 auto;
}
